{% load render_bundle from webpack_loader %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Speakers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    {% block content %}
      <h>Speakers in db:</h>
      {% for presenter in Presenters %}
        <div>
          <p> {{presenter.first}} </p>
          <p> {{presenter.last}} </p>
          <p> {{presenter.occupation}} </p>
          <p> {{presenter.short_bio}} </p>
          <p> {{presenter.quote}} </p>
          <p> {{presenter.link}} </p>
          <img src="{% static "sample-image.jpg" %}" >
        </div>
      {% endfor %}
    {% endblock %}
    {% render_bundle 'main' 'js' %}
    {% block scripts %}{% endblock %}
</body>
</html>
