{% extends "base.html" %}
{% load render_bundle from webpack_loader %}
{% block title %}Home{% endblock %}
{% block description %}This is the home page{% endblock %}
{% block content %}

<section id="pipes">

  <svg
     viewBox="0 0 595 842"
     height="1500px"
     width="1000px"
     id="Layer_1"
     version="1.1"
     sodipodi:docname="final.svg"
     inkscape:version="0.92.4 (33fec40, 2019-01-16)"><sodipodi:namedview
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1"
     objecttolerance="10"
     gridtolerance="10"
     guidetolerance="10"
     inkscape:pageopacity="0"
     inkscape:pageshadow="2"
     inkscape:window-width="1299"
     inkscape:window-height="713"
     id="namedview111"
     showgrid="false"
     inkscape:zoom="1.4142136"
     inkscape:cx="0.88629529"
     inkscape:cy="698.59012"
     inkscape:window-x="67"
     inkscape:window-y="27"
     inkscape:window-maximized="1"
     inkscape:current-layer="Layer_1" />
     <defs
     id="defs73"><linearGradient
       id="linearGradient942"
       osb:paint="solid"><stop
         style="stop-color:#000000;stop-opacity:1;"
         offset="0"
         id="stop940" /></linearGradient><linearGradient
       osb:paint="solid"
       id="linearGradient1094"><stop
         id="stop1092"
         offset="0"
         style="stop-color:#f09286;stop-opacity:1;" /></linearGradient><linearGradient
       osb:paint="solid"
       id="linearGradient1012"><stop
         id="stop1010"
         offset="0"
         style="stop-color:#000000;stop-opacity:1;" /></linearGradient><linearGradient
       osb:paint="solid"
       id="linearGradient952"><stop
         id="stop950"
         offset="0"
         style="stop-color:#ffffff;stop-opacity:1;" /></linearGradient><linearGradient
       osb:paint="solid"
       id="linearGradient6788"><stop
         id="stop6786"
         offset="0"
         style="stop-color:#000000;stop-opacity:1;" /></linearGradient><linearGradient
       osb:paint="solid"
       id="linearGradient6691"><stop
         id="stop6689"
         offset="0"
         style="stop-color:#000000;stop-opacity:1;" /></linearGradient><linearGradient
       osb:paint="solid"
       id="linearGradient6679"><stop
         id="stop6677"
         offset="0"
         style="stop-color:#000000;stop-opacity:1;" /></linearGradient><linearGradient
       osb:paint="solid"
       id="linearGradient6671"><stop
         id="stop6669"
         offset="0"
         style="stop-color:#000000;stop-opacity:1;" /></linearGradient><marker
       style="overflow:visible"
       id="marker6633"
       refX="0.0"
       refY="0.0"
       orient="auto"><path
         transform="scale(0.8) translate(12.5,0)"
         style="fill-rule:evenodd;stroke:#000000;stroke-width:1pt;stroke-opacity:1;fill:#000000;fill-opacity:1"
         d="M 0.0,0.0 L 5.0,-5.0 L -12.5,0.0 L 5.0,5.0 L 0.0,0.0 z "
         id="path6631" /></marker><marker
       style="overflow:visible"
       id="Arrow1Lstart"
       refX="0.0"
       refY="0.0"
       orient="auto"><path
         transform="scale(0.8) translate(12.5,0)"
         style="fill-rule:evenodd;stroke:#000000;stroke-width:1pt;stroke-opacity:1;fill:#000000;fill-opacity:1"
         d="M 0.0,0.0 L 5.0,-5.0 L -12.5,0.0 L 5.0,5.0 L 0.0,0.0 z "
         id="path6355" /></marker><linearGradient
       osb:paint="solid"
       id="linearGradient6332"><stop
         id="stop6330"
         offset="0"
         style="stop-color:#000000;stop-opacity:1;" /></linearGradient><linearGradient
       gradientUnits="userSpaceOnUse"
       y2="161.05052"
       x2="-166.19527"
       y1="161.05052"
       x1="-181.67935"
       id="linearGradient1014"
       xlink:href="#linearGradient1012" /><linearGradient
       gradientUnits="userSpaceOnUse"
       y2="182.16287"
       x2="151.21714"
       y1="182.16287"
       x1="45.317023"
       id="linearGradient1096"
       xlink:href="#linearGradient1094"
       gradientTransform="matrix(1.0342449,0,0,1,-1.5479729,-0.09854738)" /><linearGradient
       gradientUnits="userSpaceOnUse"
       y2="182.16287"
       x2="151.21713"
       y1="182.16287"
       x1="45.317024"
       id="linearGradient1096-3"
       xlink:href="#linearGradient1094"
       gradientTransform="matrix(1.0342449,0,0,1,-3.5578754,10.212734)" /></defs>




  <path
     id="path4697"
     d="M 264.46292,167.68644 249.96875,153.19226"
     style="fill:#000000;stroke:#000000;stroke-width:5;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:0;stroke-miterlimit:4;stroke-dasharray:none;fill-opacity:0" /><rect
     y="146.8073"
     x="251.17758"
     height="8.8298464"
     width="14.979203"
     id="rect4699"
     style="opacity:1;fill:#000000;fill-opacity:0;fill-rule:nonzero;stroke:#000000;stroke-width:5;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0" /><rect
     y="109.26377"
     x="201.13454"
     height="10.480403"
     width="17.393009"
     id="rect4705"
     style="opacity:1;fill:#000000;fill-opacity:0;fill-rule:nonzero;stroke:#000000;stroke-width:5;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0" /><rect
     y="115.06144"
     x="208.93909"
     height="1.7838984"
     width="0.44597459"
     id="rect4707"
     style="opacity:1;fill:#000000;fill-opacity:0;fill-rule:nonzero;stroke:#000000;stroke-width:5;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0" /><rect
     y="111.93962"
     x="205.37129"
     height="6.912601"
     width="5.5746632"
     id="rect4712"
     style="opacity:1;fill:#000000;fill-opacity:0;fill-rule:nonzero;stroke:#000000;stroke-width:5;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0" /><rect
     y="116.39936"
     x="204.47934"
     height="16.724047"
     width="22.298729"
     id="rect6180"
     style="opacity:1;fill:#000000;fill-opacity:0;fill-rule:nonzero;stroke:#000000;stroke-width:5;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0" /><use
     transform="translate(3.4804895,-3.2433275)"
     height="100%"
     width="100%"
     y="0"
     x="0"
     xlink:href="#rect6180"
     id="use6182" /><use
     transform="translate(-1.9916127,0.20819314)"
     height="100%"
     width="100%"
     y="0"
     x="0"
     xlink:href="#rect6180"
     id="use6184" /><use
     transform="translate(4.5009817,6.230102)"
     height="100%"
     width="100%"
     y="0"
     x="0"
     xlink:href="#rect6180"
     id="use6186" /><use
     transform="translate(-3.0530402,-6.9620138)"
     height="100%"
     width="100%"
     y="0"
     x="0"
     xlink:href="#rect6180"
     id="use6188" /><use
     transform="translate(-7.0397396,-0.2025812)"
     height="100%"
     width="100%"
     y="0"
     x="0"
     xlink:href="#rect6180"
     id="use6190" /><use
     transform="translate(-7.0949023,4.5536684)"
     height="100%"
     width="100%"
     y="0"
     x="0"
     xlink:href="#rect6180"
     id="use6192" /><use
     transform="translate(-1.7143818,-5.4059366)"
     height="100%"
     width="100%"
     y="0"
     x="0"
     xlink:href="#rect6180"
     id="use6194" /><use
     transform="translate(0.46889252,-0.98876303)"
     height="100%"
     width="100%"
     y="0"
     x="0"
     xlink:href="#rect6180"
     id="use6196" /><use
     transform="translate(3.4916916,-1.0244749)"
     height="100%"
     width="100%"
     y="0"
     x="0"
     xlink:href="#rect6180"
     id="use6198" /><use
     transform="translate(-7.0093513,1.3141769)"
     height="100%"
     width="100%"
     y="0"
     x="0"
     xlink:href="#rect6180"
     id="use6200" /><use
     transform="translate(5.1873955,0.36448865)"
     height="100%"
     width="100%"
     y="0"
     x="0"
     xlink:href="#rect6180"
     id="use6202" /><use
     transform="translate(3.9179215,-3.5556654)"
     height="100%"
     width="100%"
     y="0"
     x="0"
     xlink:href="#rect6180"
     id="use6204" /><use
     transform="translate(2.3924397,-5.2042567)"
     height="100%"
     width="100%"
     y="0"
     x="0"
     xlink:href="#rect6180"
     id="use6206" /><use
     transform="translate(3.3589219,-1.2144086)"
     height="100%"
     width="100%"
     y="0"
     x="0"
     xlink:href="#rect6180"
     id="use6208" /><use
     transform="translate(-0.52024792,-2.5257919)"
     height="100%"
     width="100%"
     y="0"
     x="0"
     xlink:href="#rect6180"
     id="use6210" /><use
     transform="translate(-4.483748,-2.9808357)"
     height="100%"
     width="100%"
     y="0"
     x="0"
     xlink:href="#rect6180"
     id="use6212" /><use
     transform="translate(-3.3724936,-3.1579138)"
     height="100%"
     width="100%"
     y="0"
     x="0"
     xlink:href="#rect6180"
     id="use6214" /><use
     transform="translate(9.8751164,-5.9676713)"
     height="100%"
     width="100%"
     y="0"
     x="0"
     xlink:href="#rect6180"
     id="use6216" /><use
     transform="translate(4.7061903,-7.3996229)"
     height="100%"
     width="100%"
     y="0"
     x="0"
     xlink:href="#rect6180"
     id="use6218" /><use
     transform="translate(9.3372843,-10.276939)"
     height="100%"
     width="100%"
     y="0"
     x="0"
     xlink:href="#rect6180"
     id="use6220" /><use
     transform="translate(6.6865096,-5.9459339)"
     height="100%"
     width="100%"
     y="0"
     x="0"
     xlink:href="#rect6180"
     id="use6222" /><use
     transform="translate(10.008594,-9.0903512)"
     height="100%"
     width="100%"
     y="0"
     x="0"
     xlink:href="#rect6180"
     id="use6224" /><use
     transform="translate(6.0104668,-10.45325)"
     height="100%"
     width="100%"
     y="0"
     x="0"
     xlink:href="#rect6180"
     id="use6226" /><use
     transform="translate(7.6111709,-12.814523)"
     height="100%"
     width="100%"
     y="0"
     x="0"
     xlink:href="#rect6180"
     id="use6228" /><use
     transform="translate(-3.6919622,-8.5199988)"
     height="100%"
     width="100%"
     y="0"
     x="0"
     xlink:href="#rect6180"
     id="use6230" /><use
     transform="translate(2.1186238,-7.9304466)"
     height="100%"
     width="100%"
     y="0"
     x="0"
     xlink:href="#rect6180"
     id="use6232" /><use
     transform="translate(4.5755488,-4.6625118)"
     height="100%"
     width="100%"
     y="0"
     x="0"
     xlink:href="#rect6180"
     id="use6234" /><use
     transform="translate(4.1536675,-6.2415636)"
     height="100%"
     width="100%"
     y="0"
     x="0"
     xlink:href="#rect6180"
     id="use6236" /><use
     transform="translate(1.1305373,-4.6287396)"
     height="100%"
     width="100%"
     y="0"
     x="0"
     xlink:href="#rect6180"
     id="use6238" /><use
     transform="translate(-6.3509154,-3.8358669)"
     height="100%"
     width="100%"
     y="0"
     x="0"
     xlink:href="#rect6180"
     id="use6240" /><use
     transform="translate(-2.2987814,-4.1758042)"
     height="100%"
     width="100%"
     y="0"
     x="0"
     xlink:href="#rect6180"
     id="use6242" /><use
     transform="translate(-5.9438293,-1.9347059)"
     height="100%"
     width="100%"
     y="0"
     x="0"
     xlink:href="#rect6180"
     id="use6244" /><use
     transform="translate(-0.67631012,-11.564814)"
     height="100%"
     width="100%"
     y="0"
     x="0"
     xlink:href="#rect6180"
     id="use6246" /><use
     transform="translate(-1.3682916,-2.642517)"
     height="100%"
     width="100%"
     y="0"
     x="0"
     xlink:href="#rect6180"
     id="use6248" /><use
     transform="translate(-4.6626197,1.3050793)"
     height="100%"
     width="100%"
     y="0"
     x="0"
     xlink:href="#rect6180"
     id="use6250" /><use
     transform="translate(-4.1906218,-7.3907884)"
     height="100%"
     width="100%"
     y="0"
     x="0"
     xlink:href="#rect6180"
     id="use6252" /><use
     transform="translate(1.1464644,-3.2275963)"
     height="100%"
     width="100%"
     y="0"
     x="0"
     xlink:href="#rect6180"
     id="use6254" /><use
     transform="translate(1.0666787,-3.2832517)"
     height="100%"
     width="100%"
     y="0"
     x="0"
     xlink:href="#rect6180"
     id="use6256" /><use
     transform="translate(0.02424717,-6.3341079)"
     height="100%"
     width="100%"
     y="0"
     x="0"
     xlink:href="#rect6180"
     id="use6258" /><use
     transform="translate(6.3304287,-3.3507517)"
     height="100%"
     width="100%"
     y="0"
     x="0"
     xlink:href="#rect6180"
     id="use6260" /><use
     transform="translate(6.9290316,-1.4260331)"
     height="100%"
     width="100%"
     y="0"
     x="0"
     xlink:href="#rect6180"
     id="use6262" /><use
     transform="translate(7.2577621,1.7490266)"
     height="100%"
     width="100%"
     y="0"
     x="0"
     xlink:href="#rect6180"
     id="use6264" /><use
     transform="translate(7.1392685,-6.9771865)"
     height="100%"
     width="100%"
     y="0"
     x="0"
     xlink:href="#rect6180"
     id="use6266" /><use
     transform="translate(7.179826,-0.78385022)"
     height="100%"
     width="100%"
     y="0"
     x="0"
     xlink:href="#rect6180"
     id="use6268" /><use
     transform="translate(-6.6576701,-2.4949273)"
     height="100%"
     width="100%"
     y="0"
     x="0"
     xlink:href="#rect6180"
     id="use6270" /><use
     transform="translate(3.854634,-4.2286226)"
     height="100%"
     width="100%"
     y="0"
     x="0"
     xlink:href="#rect6180"
     id="use6272" /><use
     transform="translate(-9.9884586,-6.0829998)"
     height="100%"
     width="100%"
     y="0"
     x="0"
     xlink:href="#rect6180"
     id="use6274" /><use
     transform="translate(-6.3825109,-5.2993583)"
     height="100%"
     width="100%"
     y="0"
     x="0"
     xlink:href="#rect6180"
     id="use6276" /><use
     transform="translate(-1.7642037,-9.2021206)"
     height="100%"
     width="100%"
     y="0"
     x="0"
     xlink:href="#rect6180"
     id="use6278" /><use
     transform="translate(-7.6670186,-1.3446772)"
     height="100%"
     width="100%"
     y="0"
     x="0"
     xlink:href="#rect6180"
     id="use6280" /><use
     transform="translate(-1.2711377,-8.5760832)"
     height="100%"
     width="100%"
     y="0"
     x="0"
     xlink:href="#rect6180"
     id="use6282" /><path
     id="path6665"
     d="M 94.682012,0.16877457 V 132.00847"
     style="fill:none;stroke:#f09286;stroke-width:4;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
     l="1"
     inkscape:connector-curvature="0"
     g="0" /><path
     id="path6695"
     d="m 100.85344,124.80145 h 59.15694"
     style="fill:none;stroke:#f09286;stroke-width:3.99999976;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
     l="1"
     inkscape:connector-curvature="0"
     g="1" /><rect
     transform="matrix(0.77539615,-0.6314751,0.6788358,0.7342901,0,0)"
     ry="0.30939481"
     y="191.38646"
     x="31.491814"
     height="15.764989"
     width="14.380336"
     id="rect6687-6"
     style="opacity:1;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:2.58653474;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" /><path
     id="path6807"
     d="M 12.730366,227.20396 H 197.83137"
     style="fill:none;stroke:#f09286;stroke-width:4;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
     l="1"
     inkscape:connector-curvature="0"
     g="6" /><g
     id="layer1"><path
       id="path923"
       d="m 152.82268,131.80682 v 57.394"
       style="opacity:0.97000002;fill:none;stroke:#f09286;stroke-width:4;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       inkscape:connector-curvature="0"
       l="1"
       g="2" /><path
       id="path926"
       d="M 154.8476,182.06433 H 45.320929"
       style="fill:none;stroke:url(#linearGradient1096);stroke-width:4.06791353;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       inkscape:connector-curvature="0"
       l="1"
       g="3" /><path
       id="path6807-7"
       d="M 12.714186,230.58857 H 197.81519"
       style="fill:none;stroke:#1f2322;stroke-width:4;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       inkscape:connector-curvature="0"
       l="0"
       g="6" /><path
       id="path923-7"
       d="m 157.42753,131.8475 v 57.394"
       style="opacity:1;fill:none;stroke:#1f2322;stroke-width:5.19999981;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       inkscape:connector-curvature="0"
       l="0"
       g="2" /><path
       id="path6752-3"
       d="M 50.854221,253.20556 13.642112,223.56912"
       style="fill:none;stroke:#f09286;stroke-width:4;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       inkscape:connector-curvature="0"
       l="0"
       g="5" /></g><g
     id="layer3"><path
       id="path6695-6"
       d="m 100.85561,129.4 h 59.15694"
       style="fill:none;fill-opacity:1;stroke:#1f2322;stroke-width:5.19999981;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       inkscape:connector-curvature="0"
       l="0"
       g="1" /></g><path
     id="path6752"
     d="M 48.36408,256.33181 11.151971,226.69537"
     style="opacity:1;fill:none;stroke:#f09286;stroke-width:4;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
     inkscape:connector-curvature="0"
     l="1"
     g="5" /><g
     id="layer4"
     style="opacity:1"><path
       id="path928-5"
       d="m 51.875,184.05667 v 75.16792"
       style="fill:none;stroke:#1f2322;stroke-width:5.19999981;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       inkscape:connector-curvature="0"
       l="0"
       g="4" /><rect
       transform="matrix(0.77539615,-0.6314751,0.6788358,0.7342901,0,0)"
       ry="0.30939481"
       y="151.88194"
       x="-33.611996"
       height="15.764989"
       width="14.380336"
       id="rect6687"
       style="opacity:1;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:2.58653474;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" /><rect
       ry="0.17967565"
       y="222.96347"
       x="0.43640992"
       height="11.799046"
       width="12.298715"
       id="rect6784"
       style="opacity:1;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:#000000;stroke-width:3.18536973;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0" /><rect
       transform="rotate(-49.905563)"
       ry="0.17967565"
       y="155.151"
       x="-180.08667"
       height="11.799046"
       width="12.298715"
       id="rect6784-5"
       style="opacity:1;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:url(#linearGradient1014);stroke-width:3.18536973;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0" /><path
       id="path6665-3"
       d="M 98.669594,0.15884403 V 131.99853"
       style="fill:#333333;stroke:#1f2322;stroke-width:5.19999981;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       inkscape:connector-curvature="0"
       g="0"
       l="0" /></g><rect
     ry="0.30939499"
     y="216.29767"
     x="10.647644"
     height="8.9194918"
     width="10.257415"
     id="rect948"
     style="opacity:0.97000002;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:4;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" /><path
     id="path6807-6"
     d="m 11.80755,230.56886 h 185.101"
     style="fill:none;stroke:#000000;stroke-width:4;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0" /><path
     id="path926-7"
     d="M 154.88031,186.63707 H 45.353661"
     style="fill:none;stroke:#1f2322;stroke-width:5.19999981;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
     inkscape:connector-curvature="0"
     l="0"
     g="3" /><g
     inkscape:groupmode="layer"
     id="layer2"
     inkscape:label="Layer 4"><path
       id="path928"
       d="m 47.317354,183.9946 v 75.16792"
       style="fill:none;stroke:#f09286;stroke-width:4;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       inkscape:connector-curvature="0"
       l="1"
       g="4" /><rect
       transform="matrix(0.65559989,-0.75510846,0.79471713,0.60697997,0,0)"
       ry="0.30939481"
       y="191.79749"
       x="-190.88918"
       height="15.764989"
       width="14.380336"
       id="rect6687-5"
       style="opacity:1;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:2.58653474;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" /></g></svg>
</section>

<section class="content">
    <article class="page home">
        <!-- <canvas id="enigma-animation" width="800" height="540"></canvas> -->
        <h1 class="page-heading">Home page</h1>
        <p>Content goes here.</p>
    </article>
</section>




{% endblock %}
{% block scripts %}
<!--{% render_bundle "home" "js" %}-->
{% render_bundle "pipes" "js" %}
{% endblock %}
