{% extends "base.html" %}
{% load render_bundle from webpack_loader %}
{% block title %}Home{% endblock %}
{% block description %}This is the home page{% endblock %}
{% block content %}

<section id="pipes">
  <?xml version="1.0" encoding="UTF-8" standalone="no"?>
  <!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
  <svg
     xmlns:dc="http://purl.org/dc/elements/1.1/"
     xmlns:cc="http://creativecommons.org/ns#"
     xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
     xmlns:svg="http://www.w3.org/2000/svg"
     xmlns="http://www.w3.org/2000/svg"
     xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
     xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
     width="210mm"
     height="297mm"
     viewBox="0 0 210 297"
     version="1.1"
     id="svg8"
     inkscape:version="0.92.3 (2405546, 2018-03-11)"
     sodipodi:docname="TEST_3.svg">
    <defs
       id="defs2" />
    <sodipodi:namedview
       id="base"
       pagecolor="#ffffff"
       bordercolor="#666666"
       borderopacity="1.0"
       inkscape:pageopacity="0.0"
       inkscape:pageshadow="2"
       inkscape:zoom="1.979899"
       inkscape:cx="300.46398"
       inkscape:cy="909.43186"
       inkscape:document-units="mm"
       inkscape:current-layer="layer1"
       showgrid="false"
       inkscape:snap-global="false"
       showguides="true"
       inkscape:guide-bbox="true"
       inkscape:window-width="1040"
       inkscape:window-height="1048"
       inkscape:window-x="809"
       inkscape:window-y="0"
       inkscape:window-maximized="0">
      <sodipodi:guide
         position="92.341622,281.63527"
         orientation="1,0"
         id="guide4526"
         inkscape:locked="false" />
    </sodipodi:namedview>
    <metadata
       id="metadata5">
      <rdf:RDF>
        <cc:Work
           rdf:about="">
          <dc:format>image/svg+xml</dc:format>
          <dc:type
             rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
          <dc:title></dc:title>
        </cc:Work>
      </rdf:RDF>
    </metadata>
    <g
       inkscape:label="Layer 1"
       inkscape:groupmode="layer"
       id="layer1">
       <path
          style="fill:none;stroke:#f09286;stroke-width:1.26999998;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
          d="M 69.234501,63.069005 V 86.338159"
          id="path4626"
          l="0"
          g="1"
          inkscape:connector-curvature="0"
          sodipodi:nodetypes="cc" />
       <path
          style="fill:none;stroke:#000000;stroke-width:1.37583327;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
          d="M 70.554404,64.384899 V 86.382204"
          id="path4630"
          l="1"
          g="1"
          inkscape:connector-curvature="0" />
       <path
          style="fill:none;stroke:#f09286;stroke-width:1.26999998;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
          d="m 92.349972,39.093257 h 17.293668 l -1.77532,1.603618 v 39.555888"
          id="path4605"
          inkscape:connector-curvature="0"
          sodipodi:nodetypes="cccc" />
       <path
          style="fill:none;stroke:#000000;stroke-width:1.37583327;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
          d="M 58.278188,40.419287 H 109.19303 V 81.44516 H 60.416344 v 17.105248"
          id="path4569"
          inkscape:connector-curvature="0" />
       <path
          style="fill:none;stroke:#f09286;stroke-width:1.26999998;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
          d="M 69.76023,51.29185 57.725583,39.273912"
          id="path4601"
          inkscape:connector-curvature="0"
          sodipodi:nodetypes="cc" />
       <path
          style="fill:none;stroke:#f09286;stroke-width:1.26999998;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
          d="M 69.089171,52.39708 55.508538,38.799743"
          id="path4571"
          inkscape:connector-curvature="0"
          sodipodi:nodetypes="cc" />
       <path
          style="fill:none;stroke:#000000;stroke-width:1.37583327;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
          d="M 52.518463,18.237882 H 91.673446 V 52.181111 H 68.688267"
          id="path4520"
          inkscape:connector-curvature="0"
          sodipodi:nodetypes="cccc" />
       <path
          style="fill:none;stroke:#f09286;stroke-width:1.27;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
          d="M 52.532784,16.91728 H 92.34558"
          id="path4524"
          inkscape:connector-curvature="0"
          sodipodi:nodetypes="cc" />
       <path
          style="fill:#f09286;fill-opacity:1;stroke:#f09286;stroke-width:1.27279019;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
          d="m 90.351072,18.930593 v 32.55404"
          id="path4528"
          inkscape:connector-curvature="0" />
       <path
          style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.26458332px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
          d="m 90.57096,15.76564 3.006783,3.006782 V 15.76564 Z"
          id="path4582-2"
          inkscape:connector-curvature="0" />
       <path
          style="fill:none;stroke:#f09286;stroke-width:1.26999998;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.99555556"
          d="M 90.445431,50.85455 H 68.649924"
          id="path4599"
          inkscape:connector-curvature="0" />
       <path
          style="fill:none;stroke:#f09286;stroke-width:1.29946804;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
          d="M 56.00605,39.110554 H 89.723932"
          id="path4603"
          inkscape:connector-curvature="0" />
       <path
          style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.26458332px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
          d="m 53.053409,40.847156 3.006783,-3.006782 v 3.006782 z"
          id="path4582"
          inkscape:connector-curvature="0" />
       <path
          style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.49997839px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
          d="m 106.69646,36.406785 5.56686,5.799243 v -5.799243 z"
          id="path4582-27"
          inkscape:connector-curvature="0" />
       <path
          style="fill:none;stroke:#f09286;stroke-width:1.26999998;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
          d="m 108.50485,80.123601 -49.409769,0 v 18.42533"
          id="path4622"
          inkscape:connector-curvature="0"
          sodipodi:nodetypes="ccc" />
       <path
          style="fill:none;stroke:#f09286;stroke-width:1.26999998;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
          d="m 100.373,0.01837767 0.006,62.46590033 H 68.598824"
          id="path4624"
          l="0"
          g="0"
          inkscape:connector-curvature="0"
          sodipodi:nodetypes="ccc" />
       <path
          style="fill:none;stroke:#000000;stroke-width:1.26999998;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.99497483"
          d="m 101.64548,0.01785396 -0.003,63.73643504 H 69.86803"
          id="path4628"
          l="1"
          g="0"
          inkscape:connector-curvature="0"
          sodipodi:nodetypes="ccc" />
    </g>
  </svg>

</section>

<section class="content">
    <article class="page home">
        <!-- <canvas id="enigma-animation" width="800" height="540"></canvas> -->
        <h1 class="page-heading">Home page</h1>
        <p>Content goes here.</p>
    </article>
</section>




{% endblock %}
{% block scripts %}
<!--{% render_bundle "home" "js" %}-->
{% render_bundle "pipes" "js" %}
{% endblock %}
